img.resize {
    width: 200px;
    height: 200px;
}

img.category {
    width: 200px;
    height: 100px;
}

img.subcategory{
    width: 200px;
    height: 100px;
}

img.usercomment{
    width: 64px;
    height: 64px;
}
div.colorsubcategory {
    color: #7ab5d3;
    margin-left: 50px;
}

div.category {
    align-content: center;
    margin-top: 20px;
    color: #768ea5;
}

div.sizecarusel {
    width: 540px;
    height: 350px;
    color: #bce8f1;
}

div.resize {
    width: 200px;
    height: 320px;
}
h3.color {
    color: red;
}